@import url(https://fonts.googleapis.com/css?family=Nunito);.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dhl-container-main {
  overflow-y: scroll;
  height: 80vh;
  padding: 20px;
  padding-bottom: 20vh;
}

#dnl-navbar-icon {
  border-radius: 50vh;
  /*padding: 1px 5vw 1px 5vw;*/
  font-weight: 600;
}

#dhl-navbar-icon b {
  font-weight: 900;
}

#dnl-navbar-icon:hover {
  color: white;
}

.dnl-navbar {
  border-bottom: 1px solid rgba(0, 0, 255, 0.37);
}

.dnl-navbar-btn-group {
  margin: 0;
}

.container-fluid {
  position: fixed;
  border: 1px solid rgba(0, 0, 255, 0.37);
  height: 100vh;
  /* background-color: rgb(187, 75, 75); */
}

.dhl-card {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  list-style: none;
}

.dhl-card:hover {
  background-color: #ebebeb;
}

.dhl-card_img {
  width: 100px;
  border-radius: 50%;
}

.dnl-img {
  position: relative;
  width: 20%;
  height: 200px;
}

.dhl-course_full_img {
  height: 100%;
  border-radius: 50%;
}

a.list-group-item-active {
  text-decoration: none;
}

.dnl-user-avatar {
  border: 4px solid blue;
  text-align: center;
  vertical-align: middle;
  width: 5em;
  height: 5em;
}

.dnl-user-avatar-in {
  font-size: 4em;
}

.dnl-card-back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.dnl-card-scene {
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.dnl-card-scene.is-flipped {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.dnl-lrn {
  height: 1vh;
}

