.dnl-container-main {
    overflow-y: scroll;
    position: relative;
    padding: 20px;
	padding-bottom: 20vh;
}

#dnl-navbar-icon {
    border-radius: 50vh;
    /*padding: 1px 5vw 1px 5vw;*/
    font-weight: 600;
}

#dnl-navbar-icon b {
    font-weight: 900;
}

#dnl-navbar-icon:hover {
    color: white;
}

.dnl-navbar {
    border-bottom: 1px solid rgba(0, 0, 255, 0.37);
}

.dnl-navbar-btn-group {
    margin: 0;
}

.container-fluid {
    position: fixed;
    border: 1px solid rgba(0, 0, 255, 0.37);
    height: 100vh;
    /* background-color: rgb(187, 75, 75); */
}

.content {
    height: 100vh;
	overflow: scroll;
}

.dnl-card {
	transition: 0.2s all;
	list-style: none;
}

.dnl-card:hover {
	background-color: rgb(235, 235, 235);
}

.dnl-card_img {
	width: 100px;
	border-radius: 50%;
}

.dnl-img {
    position: relative;
}

.dnl-course_full_img {
	height: 100%;
	border-radius: 50%;
}

a.list-group-item-active {
	text-decoration: none;
}
/*----*/

.dnl-user-avatar {
	font-size: 5em;
}